.btn-enviar {
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 4px;
}

.btn-enviar {
    margin: 1rem;
}

.error {
    color: red;
    margin-left: 5px;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

.space{
    justify-content: center;
  
}