*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: Poppins,sans-serif;
}
/* Carrousel Imagenes */
.carousel-item {
  width: 100%;
  height: 45vw;
}


/* Formulario de Registro*/

.botons:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form-register {
  width: 400px;
  background: orange;
  padding: 30px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 45px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}


.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: white;
  border: 1px solid black;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

.background-cuenta {
  background-image: url(/img/wallpaper.jpg)
  
}

/* Formulario de Contacto*/
.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.container-form a i {
  color: orange;
  margin-right: 10px;

}

.container-form form .campo,
textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-form form textarea {
  max-width: 530px;
  min-height: 530px;
  min-height: 140px;
  max-height: 150px;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: white;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Pie de Pagina */
.pie-pagina {
  width: 100%;
  background-color: orange;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(169,52,102,255);
  text-align: center;
  transition: all 300ms ease;
  border-radius: 30px;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: black;
}

.pie-pagina .grupo-2 {
  background-color: rgba(169,52,102,255);
  padding: 20px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;

}

@media screen and (max-width:800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/* Navbar Color */
.navbar {
  background-color: orange;
}

.navbar-text,
.navbar-brand .nav-link {
  color: white;
  
}

.navbar-brand{
  margin-right: 100px;
}
/* Navbar Logo */
.navbar-brand img {
  display: flex;
  width: 200px;
}

/* Background Colors */
body {
  background-color: white;
}

.background-cuenta {
  background-color: white;
}

.background-contacto {
  background-color: orange;
}

.background-index {
  background-color: orange;
}

.background-figura {
  background: orange;
}

.background-cuenta {
  background-color: orange;
}

/* Navbar hover */
.nav-link {
  position: relative;
}

.nav-link:hover {
  color: white;
}

/* Cambio de color de los Botones Detalles */

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: orange;
  border: black;
}

.btn-outline-success,
.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:visited {
  background-color: black;
  border: white;
  color: white;
}

/* Detalles del Producto */
.background-detalles {
  line-height: 1.5;

}

/* Hover para las Figuras en escala  */
.mb-2:hover {
  transform: scale(1.1);
}

.figuras-ventas .card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.product-content {
  padding: 2rem 1rem;
}

.figuras-ventas {
  background-color: orange;
  background-image: url(/img/wallpaper.jpg);
  
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 750;
  position: relative;
  color: black;
  margin: 1rem 0;
}

.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: black;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 600;
  color: #252525;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.product-detail h2 {
  text-transform: capitalize;
  color: black;
  padding-bottom: 0.6rem;
}


.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li {
  margin: 0;
  background-size: 18px;

  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-detail ul li span {
  font-weight: 400;
}

.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input {
  width: 60px;
}

.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}

.purchase-info .btn:first-of-type {
  background: orange;
}

.purchase-info .btn:last-of-type {
  background: #f64749;
}

.purchase-info .btn:hover {
  opacity: 0.9;
}

/*Separacion de navbar hacia abajo*/
.navbar-expand-lg{
  margin: 0px 0px 30px 0px;
}


/*Fotos ajuste tamaño*/
#kurapica{width: 75%;} 
#tanjiro{width: 85%;}

/*CARRITO*//*CARRITO*//*CARRITO*//*CARRITO*/

#cart-container{
  overflow-x: auto;
}
/*Ajustes para el overflow*/
#cart-container table{
	  border-collapse:collapse;
	  width: 100%;
	  table-layout: fixed;
    white-space: nowrap;
    
  }

#cart-container table thead{
   font-weight: 700;
   
  } 
/*Color y posicion de la barra de articulos*/
#cart-container table thead td{
    
    background: orange;
    color: #fff;
    border: none;
    padding: 6px 0px;
    
  }  
/*Alineacion de texto dentro de la tabla y tamaño bordes*/
#cart-container table td {
    border: 1px solid #b6b3b6;  
    text-align: center;
} 
/*los tamaños de los espacios dentro de la tabla*/
#cart-container table td:nth-child(1){
  width: 100px;
}
#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
  width: 200px;
}
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
  width: 170px;
}

/*Tamaño imagenes dentro de la tabla*/
#cart-container table tbody img{
  width: 100px;
  height: 80px;
  margin-left: 23%;
  object-fit: cover;
 } 
/*Color basurero o remover*/
 #cart-container table tbody i{
  color: #8d8c89;

 } 
/*Bordes de las barras Cupon y Total*/
#cart-bottom .coupon>div,
#cart-bottom .total>div{
  border: 1px solid #b6b3b6;  

}
/*Color y posicion barra Cupon*/
#cart-bottom .coupon h5{
  background: orange;
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-weight: 700;
}
/*posicion Texto dentro de cupon*/
#cart-bottom .coupon p{
  padding: 0px 12px;

}
/*Color y posicion barra Total*/
#cart-bottom .total h5{
  background: orange;
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-weight: 700;
}
/*el padding dentro de total*/
#cart-bottom .total div>div{
  padding: 0 12px;

}
/*Color del texto dentro de Total*/
#cart-bottom .total h6{
  color: #2a2a2a;
}
/*Linea entre Envio y Total*/
.second-hr{
  background: #b8b7b3;
  width: 100%;
  height: 1px;
} 
/*Boton comprobar*/
#cart-bottom .total div>button {
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  margin: 0px 12px 20px 10px;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.total{
  margin: 0px  ;
}
/*CARRITO*//*CARRITO*//*CARRITO*//*CARRITO*/


@media screen and (min-width: 992px) {
  .figuras-ventas .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .figuras-ventas .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-content {
    padding-top: 0;
  }
}

#figura{
  text-align: center;
  padding: 28px;
}
