.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: orange;
    border: black;
}

.btn-outline-success,
.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:visited {
    background-color: black;
    border: white;
    color: white;
}

.mb-2:hover {
    transform: scale(1.1);
}

#figura {
    text-align: center;
    padding: 28px;
}