.btn-enviar {
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 4px;
}
.form-group label{
    padding-top: 13px;
}

.container-boton{
    margin-top: 20px;
    justify-content: center;
    
}

.btnn{
    border: 3px solid rgba(100, 100, 100, 0.1);
    padding: 10px 60px;
    width: 300px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    background-size: 300%;
    
}
.btn1{
    background-image: linear-gradient(to left, #00b347 ,#008f39,#00b347);
}

.error {
    color: red;
    margin-left: 5px;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

.space{
    justify-content: center;
  
}