.search-api input{
    display: block ;
    margin: 0 auto;
    border-radius: 4px;
}
#search-btn{
    
    background-color: rgba(169, 52, 102, 255);
    display: block ;
    margin: 0 auto  ;
    border-radius: 4px;
}
#result{
    
    margin: 10px;
    padding: 10px;
    border: orange ;
    text-align: center;
}