

.search-api {
    display: block;
    margin-top: 50px;
    text-align: center;
}
#search-btn{
    background-color: rgba(169, 52, 102, 255);
    border-radius: 4px;
}
#result{
    
    margin: 10px;
    padding: 10px;
    border: rgb(75, 30, 77) ;
    text-align: center;
}