{% extends 'figura/base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
<body>
    
    <div>  
        <!-- Inicio Contacto -->
        <section class="background-contacto">
            <div class="container mt-5">
                         
                <h1 class="text-center mb-5" id="form-quest">Contáctanos</h1>
                <form method="POST" action="{% url 'contacto' %}">
                        {% csrf_token %}
                        {{form | crispy}}
                    <div class="container-boton">
                        <button type="submit" name="enviar"  class="btnn btn1">
                            <span>Enviar</span>
                        </button>
                    </div>
                </form>
                {{mensaje}}
            </div>
        </section>
    </div> 
        <!-- Termino de Footer -->
        <!-- Javascript -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
        
        <!-- Bootstrap -->
       
</body>
</html>
{% endblock %}