{% extends 'figura/base.html'%}
{% block contenido %}
{% load static %}
</head>
    <body>
        <div>
            {%load humanize%}
            <section>   
                <section class="figuras-ventas">
                    <div class="card-wrapper">
                        {%for f in figuras  %}
                            <div class="card">
                                <div class="product-imgs">
                                    <div class="img-display">
                                        <div class="img-showcase">
                                            {% if f.imagenP %}
                                            <img src="{{ f.imagenF.url }}">
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h2 class="product-title">{{ f.nombreF }}</h2>
                                    <div class="product-price">
                                        <p class="last-price">Precio:$ <span>{{ f.precioF | intcomma }}</span></p>
                                    </div>
                                    <div class="product-detail">
                                        <h2>Sobre esta figura:</h2>
                                        <ul>
                                            <li>Nombre del Producto: {{ f.nombreF }}</li>
                                            <li>Tamaño: {{ f.tamano }}</li>
                                            <li>Marca: {{ f.marca }}</li>
                                            <li>Material: {{ f.material }}</li>
                                            <li>Categoría: {{ f.categoria }}</li>
                                            <li>Envío: {{ f.envio }}</li>
                                        </ul>
                                    </div>
                                    <div class="purchase-info">
                                        <div data-pushbar-id="pushbar-carrito"
                                                class="pushbar from right pushbar-carrito"></div>
                                                <a href="{% url 'addcart' f.id %}" class="btn btn-danger" type="button">
                                                    <i class="bi-cart-fill me-1"> Agregar al carrito</i> 
                                                </a>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </div>
                </section>
    </body>
{% endblock %}