{% extends 'figura/base.html'%}
{% block contenido %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/estiloDetalleFigura.css'%}">
</head>

<body>
    <div class="container-fluid">
        {%load humanize%}
        <section>
            <section class="figuras-ventas">
                <div class="card-wrapper-center">
                    {%for f in figuras %}
                    <div class="card">
                        <div class="product-imgs">
                            <div class="img-display">
                                <div class="img-showcase">
                                    {% if f.imagenP %}
                                    <img src="{{ f.imagenF.url }}">
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h2 class="product-title">{{ f.nombreF }}</h2>
                            <div class="product-price">
                                <p class="last-price">Precio:$ <span>{{ f.precioF | intcomma }}</span></p>
                            </div>
                            <div class="product-detail">
                                <h2>Sobre esta figura:</h2>
                                <ul>
                                    <li>Nombre del Producto: {{ f.nombreF }}</li>
                                    <li>Tamaño: {{ f.tamano }}</li>
                                    <li>Marca: {{ f.marca }}</li>
                                    <li>Material: {{ f.material }}</li>
                                    <li>Categoría: {{ f.categoria }}</li>
                                    <li>Envío: {{ f.envio }}</li>
                                </ul>
                            </div>
                            <div class="purchase-info">
                                <div data-pushbar-id="pushbar-carrito" class="pushbar from right pushbar-carrito"></div>
                                <a href="{% url 'addcart' f.id %}" class="btn btn-danger" type="button">
                                    <i class="bi-cart-fill me-1"> Agregar al carrito</i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </section>
            <br>
            <br>
            <section>
                <div>
                    <div id="carouselExampleAutoplaying" class="carousel slide ps-0 pe-0" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'img/ChainsawmanPoster.jpg'%}" class="d-block w-100" alt="...">
                                <div class="carousel-caption">
                                    <h3>MaxGames</h3>
                                    <p>Esperamos que te guste</p>
                                </div>
                            </div>
                            {%for ca in carrusel %}
                            <div class="carousel-item">
                                {% if ca.imagenC %}
                                <img src="{{ ca.imagenC.url }}" class="d-block w-100" alt="...">
                                {% endif %}
                                <div class="carousel-caption">
                                    <h3>MaxGames</h3>
                                    <p>Siempre los mejores precios</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </section>

</body>
{% endblock %}