{% extends 'figura/base.html'%}
{% block contenido %}
{%load static%}
<body>
    <div>
        
        {%load humanize%}
            <section class="flex-shrink-0">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% if found_results %}
                        {%for f in figuras %}
                        <div >
                            <div class="card shadow-sm h-100">
                                <div class="container-foto">  
                                    <article class="articlefotos">
                                        {% if f.imagenP %}
                                        <img src="{{ f.imagenP.url }}">
                                        {% endif %}
                                        {% if f.imagenF %}
                                        <img src="{{ f.imagenF.url }}">
                                        {% endif %}
                                    </article>    
                                </div>  

                                <div class="card-body">
                                    <p class="card-title">Figura de {{f.nombreF}}</p>
                                    <p class="card-text"><strong>${{f.precioF | intcomma}}</strong></p>
                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{% url 'detalleF' f.slug %}"  class="btn btn-primary">
                                                <i class="bi bi-info-circle-fill"> Detalle</i>
                                            </a>
                                        </div>
                                        <div data-pushbar-id="pushbar-carrito"
                                            class="pushbar from right pushbar-carrito"></div>
                                           
                                            <a href="{% url 'addcart' f.id %}" class="btn btn-danger" type="button">
                                                <i class="bi-cart-fill me-1"> Agregar</i> 
                                            </a>
                                              
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <h1 >No se encontraron figuras que coincidan con la busqueda  </h1>
                    {% endif %}
                        
            </section>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
</body>
{% endblock %}