{% extends 'figura/base.html'%}
{% block contenido %}
{%load static%}
<body>
    <div>
        <!-- Fin Navbar -->
        {%load humanize%}
            <section class="flex-shrink-0">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% if found_results %}
                        {%for f in figuras %}
                        <div >
                            <div class="card shadow-sm h-100">
                                <div class="container-foto">  
                                    <article class="articlefotos">
                                        {% if f.imagenP %}
                                        <img src="{{ f.imagenP.url }}">
                                        {% endif %}
                                        {% if f.imagenF %}
                                        <img src="{{ f.imagenF.url }}">
                                        {% endif %}
                                    </article>    
                                </div>  

                                <div class="card-body">
                                    <p class="card-title">Figura de {{f.nombreF}}</p>
                                    <p class="card-text"><strong>${{f.precioF | intword}}</strong></p>
                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{% url 'detalleF' f.slug %}"  class="btn btn-primary">Detalles</a>
                                        </div>
                                        <div data-pushbar-id="pushbar-carrito"
                                            class="pushbar from right pushbar-carrito"></div>
                                        <a class="btn btn-success"
                                            onClick="addProducto(1, '026a8089ff9ce1c296464138aad4080fe96bd25e')">Agregar</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <h1 >No se encontraron figuras que coincidan con la busqueda  </h1>
                    {% endif %}
                        
            </section>
</body>
{% endblock %}