{% extends 'figura/base.html'%}
{% block contenido %}
{%load static%}
<body>
    <div>

        <!-- Inicio Carrusel -->
        <div>
            <div id="carouselExampleAutoplaying" class="carousel slide ps-0 pe-0" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/ChainsawmanPoster.jpg'%}" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h3>MaxGames</h3>
                            <p>La Mejor Selección de Figuras</p>
                        </div>
                    </div>
                    {%for ca in carrusel %}
                    <div class="carousel-item">
                            {% if ca.imagenC %}
                                <img src="{{ ca.imagenC.url }}"class="d-block w-100" alt="...">
                            {% endif %}
                        <div class="carousel-caption">
                            <h3>MaxGames</h3>
                            <p>La Mejor Selección de Figuras</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Fin de la seccion Carrusel -->
        <!-- Inicio Intermedio -->
        {% load humanize %}
        <section>
            <h1 id="figura">Figuras</h1>
        </section>
        <!-- Fin Intermedio -->
        <!-- Inicio de Figuras -->
        <section>
            
            <main class="flex-shrink-0">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                        {%for f in figuras %}
                       
                            <div >
                                <div class="card shadow-sm h-100">
                                    <div class="container-foto">  
                                        <article class="articlefotos">
                                                {% if f.imagenP %}
                                                <img src="{{ f.imagenP.url }}">
                                                {% endif %}
                                                {% if f.imagenF %}
                                                <img src="{{ f.imagenF.url }}">
                                                {% endif %} 
                                        </article>    
                                    </div>  

                                    <div class="card-body">
                                        <p class="card-title">Figura de {{ f.nombreF }}</p>
                                        <p class="card-text"><strong>${{ f.precioF|intcomma }}</strong></p>
                                    </div>

                                    <div class="card-footer bg-transparent">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="{% url 'detalleF' f.slug %}"  class="btn btn-primary">
                                                    <i class="bi bi-info-circle-fill"> Detalle</i>
                                                </a>
                                            </div>
                                            <div data-pushbar-id="pushbar-carrito"
                                                class="pushbar from right pushbar-carrito"></div>
                                                <a href="{% url 'addcart' f.id %}" class="btn btn-danger" type="button">
                                                    <i class="bi-cart-fill me-1"> Agregar</i> 
                                                </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        {% endfor %}   
        </section>
        <!-- Fin Figuras -->
        <!-- Inicio API -->
        <section class="container-api">
            <div class="api">
                <div class="search-api">
                    <input type="text" id="movie-name" placeholder="Buscar">
                    <button id="search-btn">Buscar</button>
                </div>
                <div id="result"></div>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Fin API -->
        {% if messages %} 
            {% for message in messages %}
            <script>
                Swal.fire({
                    "title": "Felicitaciones!!",
                    "text": "{{ message }}",
                    "icon": "success"
                })
            </script>
            {% endfor %} 
        {% endif %}    
</body>
{% endblock %}