{% extends 'figura/base.html' %}
{%load static%}
{% block contenido %}
<script>
    function eliminarFigura(id) {
        Swal.fire({
            title: "¿Estás seguro?",
            text: "Esta acción no tiene vuelta atrás",
            icon: "question",
            showCancelButton: true,
            cancelButtonText: "No, Cancelar",
            confirmButtonText: "Si, Eliminar",
            reverseButtons: true,
            confirmButtonColor: "#dc3545"
        }).then(function(result) {
            if (result.isConfirmed) {
                window.location.href = "/figura/eliminar_figuras/" + id + "/";
            }
        });
    }
</script>


<body>
    
        <!-- Fin Navbar -->
    {% load humanize %}
            <br>
            <br>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h1>Listado de Figuras</h1>
                        <hr>
                        <div class="table-responsive">
                            <table class="table-custom">
                                <tr>
                                    <th class="orange-bg">ID</th>
                                    <th class="orange-bg">Nombre</th>
                                    <th class="orange-bg">Precio</th>
                                    <th class="orange-bg">Anime</th>
                                    <th class="orange-bg">Marca</th>
                                    <th class="orange-bg">Opciones</th>
                                </tr>
                                {% for f in figuras %}
                                <tr>
                                    <td>{{ f.id }}</td>
                                    <td>{{ f.nombreF | title }}</td>
                                    <td>${{ f.precioF | intcomma }}</td>
                                    <td>{{ f.anime | title }}</td>
                                    <td>{{ f.marca}}</td>
                                    <td>
                                        {% if perms.app.change_adm%}
                                        <a href="{% url 'modificar_figuras' f.id %}" class="btn btn-primary btn-sm">Modificar</a>
                                        {% endif%}
                                        {% if perms.app.delete_adm%}
                                        <a href="#" onclick="eliminarFigura({{f.id}})" class="btn btn-danger btn-sm">Eliminar</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        <!-- Inicio Footer -->

        <!-- Termino de Footer -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "Felicitaciones",
                    "text" : "{{m}}",
                    "icon" : "success"
                })
            </script>
            {% endfor %}
        {% endif  %}
</body>
{% endblock %}