.btn-enviar {
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 4px;
}
.form-group label{
    padding-top: 13px;
}

/*Boton */
.container-boton button{
    margin-top: 20px;
    border: 0 ;
    background-image: linear-gradient(150deg,#007000,#4ea93b,#4ea93b);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 5px 5px;
    cursor: pointer;

}
.container-boton button span{
    background-color: #111;
    padding: 10px 50px;
    border-radius: 6px;
    transition: .3s;
}

.container-boton button:hover span{
    background: none;
}
.container-boton button:active {
    transform: scale(0.9);
}


.error {
    color: red;
    margin-left: 5px;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

.space{
    justify-content: center;
  
}