

#cart-container {
    overflow-x: auto;
}

/*Ajustes para el overflow*/
#cart-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;

}

#cart-container table thead {
    font-weight: 700;

}

/*Color y posicion de la barra de articulos*/
#cart-container table thead td {

    background: orange;
    color: #fff;
    border: none;
    padding: 6px 0px;

}

/*Alineacion de texto dentro de la tabla y tamaño bordes*/
#cart-container table td {
    border: 1px solid #b6b3b6;
    text-align: center;
}

/*los tamaños de los espacios dentro de la tabla*/
#cart-container table td:nth-child(1) {
    width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
    width: 170px;
}

/*Tamaño imagenes dentro de la tabla*/
#cart-container table tbody img {
    width: 100px;
    height: 80px;
    margin-left: 23%;
    object-fit: cover;
}

/*Color basurero o remover*/
#cart-container table tbody i {
    color: #8d8c89;

}

/*Bordes de las barras Cupon y Total*/
#cart-bottom .coupon>div,
#cart-bottom .total>div {
    border: 1px solid #b6b3b6;

}

/*Color y posicion barra Cupon*/
#cart-bottom .coupon h5 {
    background: orange;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

/*posicion Texto dentro de cupon*/
#cart-bottom .coupon p {
    padding: 0px 12px;

}

/*Color y posicion barra Total*/
#cart-bottom .total h5 {
    background: orange;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

/*el padding dentro de total*/
#cart-bottom .total div>div {
    padding: 0 12px;

}

/*Color del texto dentro de Total*/
#cart-bottom .total h6 {
    color: #2a2a2a;
}

/*Linea entre Envio y Total*/
.second-hr {
    background: #b8b7b3;
    width: 100%;
    height: 1px;
}

/*Boton comprobar*/
#cart-bottom .total div>button {
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    margin: 0px 12px 20px 10px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.total {
    margin: 0px;
}

/*CARRITO*/
/*CARRITO*/
/*CARRITO*/
/*CARRITO*/


@media screen and (min-width: 992px) {
    .figuras-ventas .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .figuras-ventas .card-wrapper {
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}

#figura {
    text-align: center;
    padding: 28px;
}