/* Estilos generales del navbar */
.navbar {
  background-color: orange;
  margin-top: 10px;
}

.navbar-brand img {
  width: 250px;
  margin-right: 50px;
}
.nav-item{
  margin-right: 15px;
}

.navbar-nav .nav-link {
  position: relative;
  transition: transform 0.3s;
}

.navbar-nav .nav-link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

.navbar-nav .nav-link:hover:before {
  width: 100%;
}

.dropdown-menu {
  background-color: #333;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #555;
}

/* Estilos del contador del carrito */
.cart-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Estilos para el formulario de búsqueda */
.form-control {
  border-color: #fff;
  color: #fff;
}

.form-control::placeholder {
  color: #aaa;
}

.btn-outline-success {
  color: #fff;
  border-color: #fff;
}

.btn-outline-success:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

  /* Media Query para pantallas pequeñas */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-list {
      display: none;
    }

    .menu-icon {
      display: block;
    }

    .menu {
      display: flex;
    }
  }