{%load static%}
<!DOCTYPE html>
    <link rel="stylesheet" href="{% static 'css/estilosFooter.css'%}">

</head>
    <body>
        <footer>
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="{% static 'img/LogoMaxGames3.png'%}" alt="Logo de MaxGames">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Somos una tienda de figuras de anime con base en Viña del Mar y administrada por su propio dueño.
                    </p>
                    <p>Nuestros productos son 100% originales </p>
                </div>
                <div class="box">
                    <h2>SÍGUENOS</h2>
                    <div class="red-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy;2023 <b>MaxGames</b> - Todos los Derechos Reservados.</small>
            </div>

        </footer>
    </body>

</html>